html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.container{
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.screen {
  height: 100px;
    background:#f7f7f7;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.screen2 {
  height: 100px;
    background:#f7f7f7;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}